body {
    background: url("../images/crystal-background.jpg");
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    padding-top: 20px;
    margin: 30px auto;
    height: 100px;
    text-align: center;
    font-size: 3.5em;
    color: darkslateblue;
}

.footnote {
    position: fixed;
    top: 480px;
    bottom: 0;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    /* font-size: large; */
}

.btn {
    margin: 20px auto;
}

.crystal_img {
    height: 125px;
    width:  125px;
    margin: 40px 40px;
}

.crystal_img:hover {
    cursor: pointer;
    /* background: rgba(119, 51, 255 .5); */
}

.card_img {
    display: inline-flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    background-size: 100% 200%;
    background-position: 0% 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, #1976d3 50%);
    transition: background-position 0.1s, color 0.1s;
    border: none;
    margin: 35px 35px;
    /* font-size: 1.25em; */
    /* color: darkviolet; */
}
.card {
    display: inline-flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    margin: 35px 35px;
    /* font-size: 1.25em; */
    /* color: darkviolet; */
}

.card_img:hover {
    background-position: 0% 100%;
    color: #1976d3;
}

@media screen and (max-width: 980px) {  
    header{
        font-size: 2em;
    }
    .crystal_img {
        width:60px;
        height:60px;
        margin:15px 15px;
     }
    .card {
        width:60px;
        height:60px;
        margin:15px 15px;
        font-size: 1.5em;
     }
  }


@media screen and (max-width: 680px) {  
    header{
        font-size: 1.5em;
    }
    .crystal_img {
        width:50px;
        height:50px;
        margin: 10px 10px;
     }
     .card {
        width:50px;
        height:50px;
        margin: 10px 10px;
        font-size: .5em;
     }
  }
  